// Цвета
$primary-color: #8734dbf3;
$secondary-color: #2e55cc;
$text-color: #333;
$background-color: #f5f5f586;

// Шрифты
$font-stack: 'Helvetica, Arial, sans-serif';

// Размеры
$container-max-width: 1200px;
$padding: 20px;
