{% extends 'base.html' %}
{% load static %}

{% block title %}Главная - Интернет-магазин детской одежды{% endblock %}

{% block content %}
<div class="welcome-section">
    <h1>Добро пожаловать в наш магазин детской одежды!</h1>
    <img src="{% static 'images/kids_clothes.jpg' %}" alt="Детская одежда" class="welcome-image center-image">
    <p>Мы рады приветствовать вас в нашем уютном интернет-магазине детской одежды. У нас вы найдете широкий ассортимент качественной и стильной одежды для ваших малышей. От повседневных нарядов до праздничных костюмов - мы заботимся о комфорте и красоте ваших детей.</p>
    <p>Наши преимущества:</p>
    <ul>
        <li>Высокое качество материалов</li>
        <li>Большой выбор размеров и моделей</li>
        <li>Доступные цены</li>
        <li>Быстрая доставка</li>
    </ul>
    <a href="{% url 'product_list' %}" class="btn btn-primary">Перейти к каталогу</a>
</div>
{% endblock %}